@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --desktop-headings-display-large-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-large-bold-font-size: 52px;
    --desktop-headings-display-large-bold-font-style: normal;
    --desktop-headings-display-large-bold-font-weight: 700;
    --desktop-headings-display-large-bold-letter-spacing: -2.08px;
    --desktop-headings-display-large-bold-line-height: 56px;
    --desktop-headings-display-large-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-large-medium-font-size: 52px;
    --desktop-headings-display-large-medium-font-style: normal;
    --desktop-headings-display-large-medium-font-weight: 500;
    --desktop-headings-display-large-medium-letter-spacing: -2.08px;
    --desktop-headings-display-large-medium-line-height: 56px;
    --desktop-headings-display-large-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-large-regular-font-size: 52px;
    --desktop-headings-display-large-regular-font-style: normal;
    --desktop-headings-display-large-regular-font-weight: 400;
    --desktop-headings-display-large-regular-letter-spacing: -2.08px;
    --desktop-headings-display-large-regular-line-height: 56px;
    --desktop-headings-display-large-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-large-semi-bold-font-size: 52px;
    --desktop-headings-display-large-semi-bold-font-style: normal;
    --desktop-headings-display-large-semi-bold-font-weight: 600;
    --desktop-headings-display-large-semi-bold-letter-spacing: -2.08px;
    --desktop-headings-display-large-semi-bold-line-height: 56px;
    --desktop-headings-display-small-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-small-bold-font-size: 44px;
    --desktop-headings-display-small-bold-font-style: normal;
    --desktop-headings-display-small-bold-font-weight: 700;
    --desktop-headings-display-small-bold-letter-spacing: -1.76px;
    --desktop-headings-display-small-bold-line-height: 48px;
    --desktop-headings-display-small-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-small-medium-font-size: 44px;
    --desktop-headings-display-small-medium-font-style: normal;
    --desktop-headings-display-small-medium-font-weight: 500;
    --desktop-headings-display-small-medium-letter-spacing: -1.76px;
    --desktop-headings-display-small-medium-line-height: 46px;
    --desktop-headings-display-small-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-small-regular-font-size: 44px;
    --desktop-headings-display-small-regular-font-style: normal;
    --desktop-headings-display-small-regular-font-weight: 400;
    --desktop-headings-display-small-regular-letter-spacing: -1.76px;
    --desktop-headings-display-small-regular-line-height: 46px;
    --desktop-headings-display-small-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-display-small-semi-bold-font-size: 44px;
    --desktop-headings-display-small-semi-bold-font-style: normal;
    --desktop-headings-display-small-semi-bold-font-weight: 600;
    --desktop-headings-display-small-semi-bold-letter-spacing: -1.76px;
    --desktop-headings-display-small-semi-bold-line-height: 46px;
    --desktop-headings-h1-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h1-bold-font-size: 40px;
    --desktop-headings-h1-bold-font-style: normal;
    --desktop-headings-h1-bold-font-weight: 700;
    --desktop-headings-h1-bold-letter-spacing: -1.6px;
    --desktop-headings-h1-bold-line-height: 48px;
    --desktop-headings-h1-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h1-medium-font-size: 40px;
    --desktop-headings-h1-medium-font-style: normal;
    --desktop-headings-h1-medium-font-weight: 500;
    --desktop-headings-h1-medium-letter-spacing: -1.6px;
    --desktop-headings-h1-medium-line-height: 48px;
    --desktop-headings-h1-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h1-regular-font-size: 40px;
    --desktop-headings-h1-regular-font-style: normal;
    --desktop-headings-h1-regular-font-weight: 400;
    --desktop-headings-h1-regular-letter-spacing: -1.6px;
    --desktop-headings-h1-regular-line-height: 48px;
    --desktop-headings-h1-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h1-semi-bold-font-size: 40px;
    --desktop-headings-h1-semi-bold-font-style: normal;
    --desktop-headings-h1-semi-bold-font-weight: 600;
    --desktop-headings-h1-semi-bold-letter-spacing: -1.6px;
    --desktop-headings-h1-semi-bold-line-height: 48px;
    --desktop-headings-h2-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h2-bold-font-size: 36px;
    --desktop-headings-h2-bold-font-style: normal;
    --desktop-headings-h2-bold-font-weight: 700;
    --desktop-headings-h2-bold-letter-spacing: -1.44px;
    --desktop-headings-h2-bold-line-height: 44px;
    --desktop-headings-h2-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h2-medium-font-size: 36px;
    --desktop-headings-h2-medium-font-style: normal;
    --desktop-headings-h2-medium-font-weight: 500;
    --desktop-headings-h2-medium-letter-spacing: -1.44px;
    --desktop-headings-h2-medium-line-height: 44px;
    --desktop-headings-h2-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h2-regular-font-size: 36px;
    --desktop-headings-h2-regular-font-style: normal;
    --desktop-headings-h2-regular-font-weight: 400;
    --desktop-headings-h2-regular-letter-spacing: -1.44px;
    --desktop-headings-h2-regular-line-height: 44px;
    --desktop-headings-h2-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h2-semi-bold-font-size: 36px;
    --desktop-headings-h2-semi-bold-font-style: normal;
    --desktop-headings-h2-semi-bold-font-weight: 600;
    --desktop-headings-h2-semi-bold-letter-spacing: -1.44px;
    --desktop-headings-h2-semi-bold-line-height: 44px;
    --desktop-headings-h3-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h3-bold-font-size: 32px;
    --desktop-headings-h3-bold-font-style: normal;
    --desktop-headings-h3-bold-font-weight: 700;
    --desktop-headings-h3-bold-letter-spacing: -1.6px;
    --desktop-headings-h3-bold-line-height: 40px;
    --desktop-headings-h3-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h3-medium-font-size: 32px;
    --desktop-headings-h3-medium-font-style: normal;
    --desktop-headings-h3-medium-font-weight: 500;
    --desktop-headings-h3-medium-letter-spacing: -1.6px;
    --desktop-headings-h3-medium-line-height: 40px;
    --desktop-headings-h3-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h3-regular-font-size: 32px;
    --desktop-headings-h3-regular-font-style: normal;
    --desktop-headings-h3-regular-font-weight: 400;
    --desktop-headings-h3-regular-letter-spacing: -1.6px;
    --desktop-headings-h3-regular-line-height: 40px;
    --desktop-headings-h3-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h3-semi-bold-font-size: 32px;
    --desktop-headings-h3-semi-bold-font-style: normal;
    --desktop-headings-h3-semi-bold-font-weight: 600;
    --desktop-headings-h3-semi-bold-letter-spacing: -1.6px;
    --desktop-headings-h3-semi-bold-line-height: 40px;
    --desktop-headings-h4-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h4-bold-font-size: 28px;
    --desktop-headings-h4-bold-font-style: normal;
    --desktop-headings-h4-bold-font-weight: 700;
    --desktop-headings-h4-bold-letter-spacing: -1.12px;
    --desktop-headings-h4-bold-line-height: 36px;
    --desktop-headings-h4-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h4-medium-font-size: 28px;
    --desktop-headings-h4-medium-font-style: normal;
    --desktop-headings-h4-medium-font-weight: 500;
    --desktop-headings-h4-medium-letter-spacing: -1.12px;
    --desktop-headings-h4-medium-line-height: 36px;
    --desktop-headings-h4-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h4-regular-font-size: 28px;
    --desktop-headings-h4-regular-font-style: normal;
    --desktop-headings-h4-regular-font-weight: 400;
    --desktop-headings-h4-regular-letter-spacing: -1.12px;
    --desktop-headings-h4-regular-line-height: 36px;
    --desktop-headings-h4-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h4-semi-bold-font-size: 28px;
    --desktop-headings-h4-semi-bold-font-style: normal;
    --desktop-headings-h4-semi-bold-font-weight: 600;
    --desktop-headings-h4-semi-bold-letter-spacing: -1.12px;
    --desktop-headings-h4-semi-bold-line-height: 36px;
    --desktop-headings-h5-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h5-bold-font-size: 24px;
    --desktop-headings-h5-bold-font-style: normal;
    --desktop-headings-h5-bold-font-weight: 700;
    --desktop-headings-h5-bold-letter-spacing: -0.96px;
    --desktop-headings-h5-bold-line-height: 32px;
    --desktop-headings-h5-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h5-medium-font-size: 24px;
    --desktop-headings-h5-medium-font-style: normal;
    --desktop-headings-h5-medium-font-weight: 500;
    --desktop-headings-h5-medium-letter-spacing: -0.96px;
    --desktop-headings-h5-medium-line-height: 32px;
    --desktop-headings-h5-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h5-regular-font-size: 24px;
    --desktop-headings-h5-regular-font-style: normal;
    --desktop-headings-h5-regular-font-weight: 400;
    --desktop-headings-h5-regular-letter-spacing: -0.96px;
    --desktop-headings-h5-regular-line-height: 32px;
    --desktop-headings-h5-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h5-semi-bold-font-size: 24px;
    --desktop-headings-h5-semi-bold-font-style: normal;
    --desktop-headings-h5-semi-bold-font-weight: 600;
    --desktop-headings-h5-semi-bold-letter-spacing: -0.96px;
    --desktop-headings-h5-semi-bold-line-height: 32px;
    --desktop-headings-h6-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h6-bold-font-size: 20px;
    --desktop-headings-h6-bold-font-style: normal;
    --desktop-headings-h6-bold-font-weight: 700;
    --desktop-headings-h6-bold-letter-spacing: -0.8px;
    --desktop-headings-h6-bold-line-height: 28px;
    --desktop-headings-h6-medium-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h6-medium-font-size: 20px;
    --desktop-headings-h6-medium-font-style: normal;
    --desktop-headings-h6-medium-font-weight: 500;
    --desktop-headings-h6-medium-letter-spacing: -0.8px;
    --desktop-headings-h6-medium-line-height: 28px;
    --desktop-headings-h6-regular-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h6-regular-font-size: 20px;
    --desktop-headings-h6-regular-font-style: normal;
    --desktop-headings-h6-regular-font-weight: 400;
    --desktop-headings-h6-regular-letter-spacing: -0.8px;
    --desktop-headings-h6-regular-line-height: 28px;
    --desktop-headings-h6-semi-bold-font-family: "EB Garamond", Helvetica;
    --desktop-headings-h6-semi-bold-font-size: 20px;
    --desktop-headings-h6-semi-bold-font-style: normal;
    --desktop-headings-h6-semi-bold-font-weight: 600;
    --desktop-headings-h6-semi-bold-letter-spacing: -0.8px;
    --desktop-headings-h6-semi-bold-line-height: 28px;
    --focus-base: 0px 0px 0px 4px rgba(228, 231, 236, 1);
    --focus-destructive: 0px 0px 0px 4px rgba(255, 194, 194, 1);
    --focus-success: 0px 0px 0px 4px rgba(167, 243, 208, 1);
    --focus-warning: 0px 0px 0px 4px rgba(253, 230, 138, 1);
    --mobile-headings-h1-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h1-bold-font-size: 36px;
    --mobile-headings-h1-bold-font-style: normal;
    --mobile-headings-h1-bold-font-weight: 700;
    --mobile-headings-h1-bold-letter-spacing: -0.72px;
    --mobile-headings-h1-bold-line-height: 42px;
    --mobile-headings-h1-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h1-medium-font-size: 36px;
    --mobile-headings-h1-medium-font-style: normal;
    --mobile-headings-h1-medium-font-weight: 500;
    --mobile-headings-h1-medium-letter-spacing: -0.72px;
    --mobile-headings-h1-medium-line-height: 42px;
    --mobile-headings-h1-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h1-regular-font-size: 36px;
    --mobile-headings-h1-regular-font-style: normal;
    --mobile-headings-h1-regular-font-weight: 400;
    --mobile-headings-h1-regular-letter-spacing: -0.72px;
    --mobile-headings-h1-regular-line-height: 42px;
    --mobile-headings-h1-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h1-semi-bold-font-size: 36px;
    --mobile-headings-h1-semi-bold-font-style: italic;
    --mobile-headings-h1-semi-bold-font-weight: 600;
    --mobile-headings-h1-semi-bold-letter-spacing: -0.72px;
    --mobile-headings-h1-semi-bold-line-height: 42px;
    --mobile-headings-h2-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h2-bold-font-size: 32px;
    --mobile-headings-h2-bold-font-style: normal;
    --mobile-headings-h2-bold-font-weight: 700;
    --mobile-headings-h2-bold-letter-spacing: -0.64px;
    --mobile-headings-h2-bold-line-height: 40px;
    --mobile-headings-h2-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h2-medium-font-size: 32px;
    --mobile-headings-h2-medium-font-style: normal;
    --mobile-headings-h2-medium-font-weight: 500;
    --mobile-headings-h2-medium-letter-spacing: -0.64px;
    --mobile-headings-h2-medium-line-height: 40px;
    --mobile-headings-h2-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h2-regular-font-size: 32px;
    --mobile-headings-h2-regular-font-style: normal;
    --mobile-headings-h2-regular-font-weight: 400;
    --mobile-headings-h2-regular-letter-spacing: -0.64px;
    --mobile-headings-h2-regular-line-height: 40px;
    --mobile-headings-h2-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h2-semi-bold-font-size: 32px;
    --mobile-headings-h2-semi-bold-font-style: normal;
    --mobile-headings-h2-semi-bold-font-weight: 600;
    --mobile-headings-h2-semi-bold-letter-spacing: -0.64px;
    --mobile-headings-h2-semi-bold-line-height: 40px;
    --mobile-headings-h3-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h3-bold-font-size: 28px;
    --mobile-headings-h3-bold-font-style: normal;
    --mobile-headings-h3-bold-font-weight: 700;
    --mobile-headings-h3-bold-letter-spacing: -1.12px;
    --mobile-headings-h3-bold-line-height: 36px;
    --mobile-headings-h3-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h3-medium-font-size: 28px;
    --mobile-headings-h3-medium-font-style: normal;
    --mobile-headings-h3-medium-font-weight: 500;
    --mobile-headings-h3-medium-letter-spacing: -1.12px;
    --mobile-headings-h3-medium-line-height: 36px;
    --mobile-headings-h3-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h3-regular-font-size: 28px;
    --mobile-headings-h3-regular-font-style: normal;
    --mobile-headings-h3-regular-font-weight: 400;
    --mobile-headings-h3-regular-letter-spacing: -1.12px;
    --mobile-headings-h3-regular-line-height: 36px;
    --mobile-headings-h3-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h3-semi-bold-font-size: 28px;
    --mobile-headings-h3-semi-bold-font-style: normal;
    --mobile-headings-h3-semi-bold-font-weight: 600;
    --mobile-headings-h3-semi-bold-letter-spacing: -1.12px;
    --mobile-headings-h3-semi-bold-line-height: 36px;
    --mobile-headings-h4-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h4-bold-font-size: 24px;
    --mobile-headings-h4-bold-font-style: normal;
    --mobile-headings-h4-bold-font-weight: 700;
    --mobile-headings-h4-bold-letter-spacing: -0.96px;
    --mobile-headings-h4-bold-line-height: 32px;
    --mobile-headings-h4-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h4-medium-font-size: 24px;
    --mobile-headings-h4-medium-font-style: normal;
    --mobile-headings-h4-medium-font-weight: 500;
    --mobile-headings-h4-medium-letter-spacing: -0.96px;
    --mobile-headings-h4-medium-line-height: 32px;
    --mobile-headings-h4-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h4-regular-font-size: 24px;
    --mobile-headings-h4-regular-font-style: normal;
    --mobile-headings-h4-regular-font-weight: 400;
    --mobile-headings-h4-regular-letter-spacing: -0.96px;
    --mobile-headings-h4-regular-line-height: 32px;
    --mobile-headings-h4-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h4-semi-bold-font-size: 24px;
    --mobile-headings-h4-semi-bold-font-style: normal;
    --mobile-headings-h4-semi-bold-font-weight: 600;
    --mobile-headings-h4-semi-bold-letter-spacing: -0.96px;
    --mobile-headings-h4-semi-bold-line-height: 32px;
    --mobile-headings-h5-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h5-bold-font-size: 20px;
    --mobile-headings-h5-bold-font-style: normal;
    --mobile-headings-h5-bold-font-weight: 700;
    --mobile-headings-h5-bold-letter-spacing: -0.8px;
    --mobile-headings-h5-bold-line-height: 28px;
    --mobile-headings-h5-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h5-medium-font-size: 20px;
    --mobile-headings-h5-medium-font-style: normal;
    --mobile-headings-h5-medium-font-weight: 500;
    --mobile-headings-h5-medium-letter-spacing: -0.4px;
    --mobile-headings-h5-medium-line-height: 28px;
    --mobile-headings-h5-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h5-regular-font-size: 20px;
    --mobile-headings-h5-regular-font-style: normal;
    --mobile-headings-h5-regular-font-weight: 400;
    --mobile-headings-h5-regular-letter-spacing: -0.4px;
    --mobile-headings-h5-regular-line-height: 28px;
    --mobile-headings-h5-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h5-semi-bold-font-size: 20px;
    --mobile-headings-h5-semi-bold-font-style: normal;
    --mobile-headings-h5-semi-bold-font-weight: 600;
    --mobile-headings-h5-semi-bold-letter-spacing: -0.8px;
    --mobile-headings-h5-semi-bold-line-height: 28px;
    --mobile-headings-h6-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h6-bold-font-size: 18px;
    --mobile-headings-h6-bold-font-style: normal;
    --mobile-headings-h6-bold-font-weight: 700;
    --mobile-headings-h6-bold-letter-spacing: -0.72px;
    --mobile-headings-h6-bold-line-height: 24px;
    --mobile-headings-h6-medium-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h6-medium-font-size: 18px;
    --mobile-headings-h6-medium-font-style: normal;
    --mobile-headings-h6-medium-font-weight: 500;
    --mobile-headings-h6-medium-letter-spacing: -0.36px;
    --mobile-headings-h6-medium-line-height: 24px;
    --mobile-headings-h6-regular-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h6-regular-font-size: 18px;
    --mobile-headings-h6-regular-font-style: normal;
    --mobile-headings-h6-regular-font-weight: 400;
    --mobile-headings-h6-regular-letter-spacing: -0.72px;
    --mobile-headings-h6-regular-line-height: 24px;
    --mobile-headings-h6-semi-bold-font-family: "EB Garamond", Helvetica;
    --mobile-headings-h6-semi-bold-font-size: 18px;
    --mobile-headings-h6-semi-bold-font-style: normal;
    --mobile-headings-h6-semi-bold-font-weight: 600;
    --mobile-headings-h6-semi-bold-letter-spacing: -0.72px;
    --mobile-headings-h6-semi-bold-line-height: 24px;
    --neutral-900: rgba(23, 23, 23, 1);
    --overline-mobile-font-family: "Inter", Helvetica;
    --overline-mobile-font-size: 8px;
    --overline-mobile-font-style: normal;
    --overline-mobile-font-weight: 600;
    --overline-mobile-letter-spacing: 1px;
    --overline-mobile-line-height: 20px;
    --overline-web-font-family: "Inter", Helvetica;
    --overline-web-font-size: 10px;
    --overline-web-font-style: normal;
    --overline-web-font-weight: 600;
    --overline-web-letter-spacing: 1px;
    --overline-web-line-height: 20px;
    --paragraph-large-italic-font-family: "EB Garamond", Helvetica;
    --paragraph-large-italic-font-size: 20px;
    --paragraph-large-italic-font-style: italic;
    --paragraph-large-italic-font-weight: 400;
    --paragraph-large-italic-letter-spacing: -0.8px;
    --paragraph-large-italic-line-height: 26px;
    --paragraph-large-medium-font-family: "EB Garamond", Helvetica;
    --paragraph-large-medium-font-size: 20px;
    --paragraph-large-medium-font-style: normal;
    --paragraph-large-medium-font-weight: 500;
    --paragraph-large-medium-letter-spacing: -0.8px;
    --paragraph-large-medium-line-height: 26px;
    --paragraph-large-regular-font-family: "EB Garamond", Helvetica;
    --paragraph-large-regular-font-size: 20px;
    --paragraph-large-regular-font-style: normal;
    --paragraph-large-regular-font-weight: 400;
    --paragraph-large-regular-letter-spacing: -0.8px;
    --paragraph-large-regular-line-height: 26px;
    --paragraph-large-semi-bold-font-family: "EB Garamond", Helvetica;
    --paragraph-large-semi-bold-font-size: 20px;
    --paragraph-large-semi-bold-font-style: normal;
    --paragraph-large-semi-bold-font-weight: 600;
    --paragraph-large-semi-bold-letter-spacing: -0.8px;
    --paragraph-large-semi-bold-line-height: 26px;
    --paragraph-large-strikethrough-font-family: "EB Garamond", Helvetica;
    --paragraph-large-strikethrough-font-size: 20px;
    --paragraph-large-strikethrough-font-style: normal;
    --paragraph-large-strikethrough-font-weight: 400;
    --paragraph-large-strikethrough-letter-spacing: -0.8px;
    --paragraph-large-strikethrough-line-height: 26px;
    --paragraph-large-underlined-font-family: "EB Garamond", Helvetica;
    --paragraph-large-underlined-font-size: 20px;
    --paragraph-large-underlined-font-style: normal;
    --paragraph-large-underlined-font-weight: 400;
    --paragraph-large-underlined-letter-spacing: -0.8px;
    --paragraph-large-underlined-line-height: 28px;
    --paragraph-medium-italic-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-italic-font-size: 16px;
    --paragraph-medium-italic-font-style: italic;
    --paragraph-medium-italic-font-weight: 400;
    --paragraph-medium-italic-letter-spacing: -0.64px;
    --paragraph-medium-italic-line-height: 24px;
    --paragraph-medium-medium-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-medium-font-size: 18px;
    --paragraph-medium-medium-font-style: normal;
    --paragraph-medium-medium-font-weight: 500;
    --paragraph-medium-medium-letter-spacing: -0.72px;
    --paragraph-medium-medium-line-height: 20px;
    --paragraph-medium-regular-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-regular-font-size: 16px;
    --paragraph-medium-regular-font-style: normal;
    --paragraph-medium-regular-font-weight: 400;
    --paragraph-medium-regular-letter-spacing: -0.32px;
    --paragraph-medium-regular-line-height: 24px;
    --paragraph-medium-semi-bold-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-semi-bold-font-size: 16px;
    --paragraph-medium-semi-bold-font-style: normal;
    --paragraph-medium-semi-bold-font-weight: 600;
    --paragraph-medium-semi-bold-letter-spacing: -0.64px;
    --paragraph-medium-semi-bold-line-height: 24px;
    --paragraph-medium-strikethrough-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-strikethrough-font-size: 16px;
    --paragraph-medium-strikethrough-font-style: normal;
    --paragraph-medium-strikethrough-font-weight: 400;
    --paragraph-medium-strikethrough-letter-spacing: -0.64px;
    --paragraph-medium-strikethrough-line-height: 24px;
    --paragraph-medium-underline-font-family: "EB Garamond", Helvetica;
    --paragraph-medium-underline-font-size: 16px;
    --paragraph-medium-underline-font-style: normal;
    --paragraph-medium-underline-font-weight: 400;
    --paragraph-medium-underline-letter-spacing: -0.64px;
    --paragraph-medium-underline-line-height: 24px;
    --paragraph-small-italic-font-family: "EB Garamond", Helvetica;
    --paragraph-small-italic-font-size: 14px;
    --paragraph-small-italic-font-style: italic;
    --paragraph-small-italic-font-weight: 400;
    --paragraph-small-italic-letter-spacing: 0px;
    --paragraph-small-italic-line-height: 20px;
    --paragraph-small-medium-font-family: "EB Garamond", Helvetica;
    --paragraph-small-medium-font-size: 14px;
    --paragraph-small-medium-font-style: normal;
    --paragraph-small-medium-font-weight: 500;
    --paragraph-small-medium-letter-spacing: 0px;
    --paragraph-small-medium-line-height: 20px;
    --paragraph-small-regular-font-family: "EB Garamond", Helvetica;
    --paragraph-small-regular-font-size: 14px;
    --paragraph-small-regular-font-style: normal;
    --paragraph-small-regular-font-weight: 400;
    --paragraph-small-regular-letter-spacing: 0px;
    --paragraph-small-regular-line-height: 20px;
    --paragraph-small-semi-bold-font-family: "EB Garamond", Helvetica;
    --paragraph-small-semi-bold-font-size: 14px;
    --paragraph-small-semi-bold-font-style: normal;
    --paragraph-small-semi-bold-font-weight: 600;
    --paragraph-small-semi-bold-letter-spacing: 0px;
    --paragraph-small-semi-bold-line-height: 20px;
    --paragraph-small-strikethrough-font-family: "EB Garamond", Helvetica;
    --paragraph-small-strikethrough-font-size: 14px;
    --paragraph-small-strikethrough-font-style: normal;
    --paragraph-small-strikethrough-font-weight: 400;
    --paragraph-small-strikethrough-letter-spacing: 0px;
    --paragraph-small-strikethrough-line-height: 20px;
    --paragraph-small-underline-font-family: "EB Garamond", Helvetica;
    --paragraph-small-underline-font-size: 14px;
    --paragraph-small-underline-font-style: normal;
    --paragraph-small-underline-font-weight: 400;
    --paragraph-small-underline-letter-spacing: 0px;
    --paragraph-small-underline-line-height: 20px;
    --paragraph-xsmall-italic-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-italic-font-size: 10px;
    --paragraph-xsmall-italic-font-style: italic;
    --paragraph-xsmall-italic-font-weight: 400;
    --paragraph-xsmall-italic-letter-spacing: -0.4px;
    --paragraph-xsmall-italic-line-height: 18px;
    --paragraph-xsmall-medium-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-medium-font-size: 10px;
    --paragraph-xsmall-medium-font-style: normal;
    --paragraph-xsmall-medium-font-weight: 500;
    --paragraph-xsmall-medium-letter-spacing: -0.4px;
    --paragraph-xsmall-medium-line-height: 18px;
    --paragraph-xsmall-regular-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-regular-font-size: 10px;
    --paragraph-xsmall-regular-font-style: normal;
    --paragraph-xsmall-regular-font-weight: 400;
    --paragraph-xsmall-regular-letter-spacing: -0.4px;
    --paragraph-xsmall-regular-line-height: 18px;
    --paragraph-xsmall-semi-bold-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-semi-bold-font-size: 10px;
    --paragraph-xsmall-semi-bold-font-style: normal;
    --paragraph-xsmall-semi-bold-font-weight: 600;
    --paragraph-xsmall-semi-bold-letter-spacing: -0.4px;
    --paragraph-xsmall-semi-bold-line-height: 18px;
    --paragraph-xsmall-strikethrough-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-strikethrough-font-size: 10px;
    --paragraph-xsmall-strikethrough-font-style: normal;
    --paragraph-xsmall-strikethrough-font-weight: 400;
    --paragraph-xsmall-strikethrough-letter-spacing: -0.4px;
    --paragraph-xsmall-strikethrough-line-height: 18px;
    --paragraph-xsmall-underline-font-family: "EB Garamond", Helvetica;
    --paragraph-xsmall-underline-font-size: 10px;
    --paragraph-xsmall-underline-font-style: normal;
    --paragraph-xsmall-underline-font-weight: 400;
    --paragraph-xsmall-underline-letter-spacing: -0.4px;
    --paragraph-xsmall-underline-line-height: 18px;
    --primitive-destructive-100: rgba(255, 194, 194, 1);
    --primitive-destructive-200: rgba(255, 163, 163, 1);
    --primitive-destructive-300: rgba(255, 133, 133, 1);
    --primitive-destructive-400: rgba(255, 102, 102, 1);
    --primitive-destructive-50: rgba(255, 229, 229, 1);
    --primitive-destructive-500: rgba(255, 77, 77, 1);
    --primitive-destructive-600: rgba(246, 44, 44, 1);
    --primitive-destructive-700: rgba(222, 18, 18, 1);
    --primitive-destructive-800: rgba(176, 17, 17, 1);
    --primitive-destructive-900: rgba(121, 12, 12, 1);
    --primitive-gray-100: rgba(242, 244, 247, 1);
    --primitive-gray-200: rgba(228, 231, 236, 1);
    --primitive-gray-300: rgba(206, 210, 218, 1);
    --primitive-gray-400: rgba(151, 161, 175, 1);
    --primitive-gray-50: rgba(249, 250, 251, 1);
    --primitive-gray-500: rgba(99, 112, 131, 1);
    --primitive-gray-600: rgba(65, 78, 98, 1);
    --primitive-gray-700: rgba(52, 64, 81, 1);
    --primitive-gray-800: rgba(32, 43, 55, 1);
    --primitive-gray-900: rgba(21, 28, 36, 1);
    --primitive-information-100: rgba(224, 242, 254, 1);
    --primitive-information-200: rgba(185, 230, 254, 1);
    --primitive-information-300: rgba(124, 212, 253, 1);
    --primitive-information-400: rgba(54, 191, 250, 1);
    --primitive-information-50: rgba(240, 249, 255, 1);
    --primitive-information-500: rgba(11, 165, 236, 1);
    --primitive-information-600: rgba(0, 134, 201, 1);
    --primitive-information-700: rgba(2, 106, 162, 1);
    --primitive-information-800: rgba(6, 89, 134, 1);
    --primitive-information-900: rgba(11, 74, 111, 1);
    --primitive-primary-100: rgba(245, 245, 245, 1);
    --primitive-primary-200: rgba(229, 229, 229, 1);
    --primitive-primary-300: rgba(212, 212, 212, 1);
    --primitive-primary-400: rgba(163, 163, 163, 1);
    --primitive-primary-50: rgba(250, 250, 250, 1);
    --primitive-primary-500: rgba(115, 115, 115, 1);
    --primitive-primary-600: rgba(82, 82, 82, 1);
    --primitive-primary-700: rgba(64, 64, 64, 1);
    --primitive-primary-800: rgba(38, 38, 38, 1);
    --primitive-primary-900: rgba(23, 23, 23, 1);
    --primitive-shades-black: rgba(0, 0, 0, 1);
    --primitive-shades-white: rgba(255, 255, 255, 1);
    --primitive-spacers-0: 0px;
    --primitive-spacers-10: 10px;
    --primitive-spacers-12: 12px;
    --primitive-spacers-128: 128px;
    --primitive-spacers-16: 16px;
    --primitive-spacers-160: 160px;
    --primitive-spacers-192: 192px;
    --primitive-spacers-2: 2px;
    --primitive-spacers-20: 20px;
    --primitive-spacers-224: 224px;
    --primitive-spacers-24: 24px;
    --primitive-spacers-256: 256px;
    --primitive-spacers-28: 28px;
    --primitive-spacers-32: 32px;
    --primitive-spacers-320: 320px;
    --primitive-spacers-384: 384px;
    --primitive-spacers-4: 4px;
    --primitive-spacers-40: 40px;
    --primitive-spacers-48: 48px;
    --primitive-spacers-512: 512px;
    --primitive-spacers-6: 6px;
    --primitive-spacers-64: 64px;
    --primitive-spacers-640: 640px;
    --primitive-spacers-768: 768px;
    --primitive-spacers-8: 8px;
    --primitive-spacers-80: 80px;
    --primitive-spacers-96: 96px;
    --primitive-success-100: rgba(209, 250, 229, 1);
    --primitive-success-200: rgba(167, 243, 208, 1);
    --primitive-success-300: rgba(110, 231, 183, 1);
    --primitive-success-400: rgba(52, 211, 153, 1);
    --primitive-success-50: rgba(236, 253, 245, 1);
    --primitive-success-500: rgba(16, 185, 120, 1);
    --primitive-success-600: rgba(5, 150, 105, 1);
    --primitive-success-700: rgba(4, 120, 87, 1);
    --primitive-success-800: rgba(6, 95, 70, 1);
    --primitive-success-900: rgba(6, 78, 59, 1);
    --primitive-warning-100: rgba(254, 243, 199, 1);
    --primitive-warning-200: rgba(253, 230, 138, 1);
    --primitive-warning-300: rgba(252, 211, 77, 1);
    --primitive-warning-400: rgba(251, 191, 36, 1);
    --primitive-warning-50: rgba(255, 251, 235, 1);
    --primitive-warning-500: rgba(245, 158, 11, 1);
    --primitive-warning-600: rgba(217, 119, 6, 1);
    --primitive-warning-700: rgba(180, 83, 9, 1);
    --primitive-warning-800: rgba(146, 64, 14, 1);
    --primitive-warning-900: rgba(120, 53, 15, 1);
    --semantic-background-bg-destructive: var(--primitive-destructive-50);
    --semantic-background-bg-destructive-inverse: var(--primitive-destructive-600);
    --semantic-background-bg-information: var(--primitive-information-50);
    --semantic-background-bg-information-inverse: var(--primitive-information-600);
    --semantic-background-bg-primary: var(--primitive-shades-white);
    --semantic-background-bg-primary-hover: var(--primitive-gray-50);
    --semantic-background-bg-primary-inverse: var(--primitive-gray-900);
    --semantic-background-bg-secondary: var(--primitive-gray-100);
    --semantic-background-bg-secondary-hover: var(--primitive-gray-100);
    --semantic-background-bg-secondary-inverse: var(--primitive-gray-400);
    --semantic-background-bg-success: var(--primitive-success-50);
    --semantic-background-bg-success-inverse: var(--primitive-success-600);
    --semantic-background-bg-tertiary: var(--primitive-gray-200);
    --semantic-background-bg-warning: var(--primitive-warning-50);
    --semantic-background-bg-warning-inverse: var(--primitive-warning-600);
    --semantic-button-button-base-inverse: var(--primitive-shades-white);
    --semantic-button-button-destructive: var(--primitive-destructive-700);
    --semantic-button-button-destructive-disabled: var(--primitive-destructive-200);
    --semantic-button-button-destructive-hover: var(--primitive-destructive-800);
    --semantic-button-button-destructive-secondary-hover: var(--primitive-destructive-50);
    --semantic-button-button-disabled: var(--primitive-gray-200);
    --semantic-button-button-primary-base: var(--primitive-gray-900);
    --semantic-button-button-primary-hover: var(--primitive-gray-700);
    --semantic-button-button-secondary-base: var(--primitive-gray-500);
    --semantic-button-button-secondary-hover: var(--primitive-gray-200);
    --semantic-icons-icon-destructive: var(--primitive-destructive-600);
    --semantic-icons-icon-destructive-hover: var(--primitive-destructive-800);
    --semantic-icons-icon-disabled: var(--primitive-gray-300);
    --semantic-icons-icon-information: var(--primitive-information-900);
    --semantic-icons-icon-information-hover: var(--primitive-information-700);
    --semantic-icons-icon-inverse: var(--primitive-shades-white);
    --semantic-icons-icon-primary: var(--primitive-gray-900);
    --semantic-icons-icon-secondary: var(--primitive-gray-600);
    --semantic-icons-icon-success: var(--primitive-success-700);
    --semantic-icons-icon-success-hover: var(--primitive-success-600);
    --semantic-icons-icon-tertiary: var(--primitive-gray-500);
    --semantic-icons-icon-warning: var(--primitive-warning-900);
    --semantic-icons-icon-warning-hover: var(--primitive-warning-700);
    --semantic-stroke-stroke-destructive: var(--primitive-destructive-100);
    --semantic-stroke-stroke-disabled: var(--primitive-gray-200);
    --semantic-stroke-stroke-information: var(--primitive-information-200);
    --semantic-stroke-stroke-primary: var(--primitive-gray-300);
    --semantic-stroke-stroke-primary-hover: var(--primitive-gray-200);
    --semantic-stroke-stroke-secondary: var(--primitive-gray-200);
    --semantic-stroke-stroke-secondary-hover: var(--primitive-gray-400);
    --semantic-stroke-stroke-success: var(--primitive-success-200);
    --semantic-stroke-stroke-tertiary: var(--primitive-gray-500);
    --semantic-stroke-stroke-warning: var(--primitive-warning-200);
    --semantic-text-text-destructive: var(--primitive-destructive-600);
    --semantic-text-text-destructive-disabled: var(--primitive-destructive-500);
    --semantic-text-text-destructive-hover: var(--primitive-destructive-800);
    --semantic-text-text-disabled: var(--primitive-gray-300);
    --semantic-text-text-information: var(--primitive-information-900);
    --semantic-text-text-information-disabled: var(--primitive-information-700);
    --semantic-text-text-information-hover: var(--primitive-information-800);
    --semantic-text-text-inverse: var(--primitive-shades-white);
    --semantic-text-text-light: var(--primitive-gray-400);
    --semantic-text-text-paragraph: var(--primitive-gray-600);
    --semantic-text-text-primary: var(--primitive-gray-900);
    --semantic-text-text-success: var(--primitive-success-900);
    --semantic-text-text-success-disabled: var(--primitive-success-700);
    --semantic-text-text-success-hover: var(--primitive-success-800);
    --semantic-text-text-tertiary: var(--primitive-gray-500);
    --semantic-text-text-warning: var(--primitive-warning-600);
    --semantic-text-text-warning-disabled: var(--primitive-warning-700);
    --semantic-text-text-warning-hover: var(--primitive-warning-800);
    --shadow-button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-l: 0px 10px 15px -3px rgba(20, 28, 37, 0.08);
    --shadow-m: 0px 6px 15px -2px rgba(20, 28, 37, 0.08);
    --shadow-s: 0px 1px 3px 0px rgba(20, 28, 37, 0.1);
    --shadow-tab-shadow: 0px 1px 3px 0px rgba(52, 64, 81, 0.17);
    --shadow-xl: 0px 20px 40px -8px rgba(20, 28, 37, 0.2);
    --shadow-xs: 0px 1px 2px 0px rgba(20, 28, 37, 0.05);
    --shadow-xxl: 0px 25px 60px -15px rgba(0, 0, 0, 0.2);
    --spacing-tokens-padding-padding-10: 10px;
    --spacing-tokens-padding-padding-12: 12px;
    --spacing-tokens-padding-padding-120: 120px;
    --spacing-tokens-padding-padding-16: 16px;
    --spacing-tokens-padding-padding-2: 2px;
    --spacing-tokens-padding-padding-20: 20px;
    --spacing-tokens-padding-padding-24: 24px;
    --spacing-tokens-padding-padding-28: 28px;
    --spacing-tokens-padding-padding-32: 32px;
    --spacing-tokens-padding-padding-4: 4px;
    --spacing-tokens-padding-padding-40: 40px;
    --spacing-tokens-padding-padding-48: 48px;
    --spacing-tokens-padding-padding-6: 6px;
    --spacing-tokens-padding-padding-64: 64px;
    --spacing-tokens-padding-padding-8: 8px;
    --spacing-tokens-padding-padding-80: 80px;
    --spacing-tokens-padding-padding-none: 0px;
    --spacing-tokens-radius-radius-l: 12px;
    --spacing-tokens-radius-radius-m: 10px;
    --spacing-tokens-radius-radius-max: 999px;
    --spacing-tokens-radius-radius-none: 0px;
    --spacing-tokens-radius-radius-s: 8px;
    --spacing-tokens-radius-radius-xl: 16px;
    --spacing-tokens-radius-radius-xs: 6px;
    --spacing-tokens-radius-radius-xxl: 20px;
    --spacing-tokens-radius-radius-xxs: 4px;
    --spacing-tokens-radius-radius-xxxl: 32px;
    --spacing-tokens-radius-radius-xxxs: 2px;
    --spacing-tokens-radius-radius-xxxxl: 48px;
  }

.headingsh1regular {
    @apply text-mobile-headings-h1-regular font-normal font-ebgaramond sm:text-desktop-headings-h1-regular; 
   }
.headingsh1medium {
    @apply text-mobile-headings-h1-medium font-medium font-ebgaramond sm:text-desktop-headings-h1-medium; 
   }
   .headingsh1semibold {
    @apply text-mobile-headings-h1-semi-bold font-semibold italic font-ebgaramond sm:text-desktop-headings-h1-semi-bold; 
   }
   .headingsh1bold {
    @apply text-mobile-headings-h1-bold font-bold font-ebgaramond sm:text-desktop-headings-h1-bold; 
   }
   .headingsh2regular {
    @apply text-mobile-headings-h2-regular font-normal font-ebgaramond sm:text-desktop-headings-h2-regular; 
   }
   .headingsh2medium {
    @apply text-mobile-headings-h2-medium font-medium font-ebgaramond sm:text-desktop-headings-h2-medium; 
   }
   .headingsh2semibold {
    @apply text-mobile-headings-h2-semi-bold font-semibold font-ebgaramond sm:text-desktop-headings-h2-semi-bold; 
   }
   .headingsh2bold {
    @apply text-mobile-headings-h2-bold font-bold font-ebgaramond sm:text-desktop-headings-h2-bold; 
   }
   .headingsh3regular {
    @apply text-mobile-headings-h3-regular font-normal font-ebgaramond sm:text-desktop-headings-h3-regular; 
   }
   .headingsh3medium {
    @apply text-mobile-headings-h3-medium font-medium font-ebgaramond sm:text-desktop-headings-h3-medium; 
   }
   .headingsh3semibold {
    @apply text-mobile-headings-h3-semi-bold font-semibold font-ebgaramond sm:text-desktop-headings-h3-semi-bold; 
   }
   .headingsh3bold {
    @apply text-mobile-headings-h3-bold font-bold font-ebgaramond sm:text-desktop-headings-h3-bold; 
   }
   .headingsh4regular {
    @apply text-mobile-headings-h4-regular font-normal font-ebgaramond sm:text-desktop-headings-h4-regular; 
   }
   .headingsh4medium {
    @apply text-mobile-headings-h4-medium font-medium font-ebgaramond sm:text-desktop-headings-h4-medium; 
   }
   .headingsh4semibold {
    @apply text-mobile-headings-h4-semi-bold font-semibold font-ebgaramond sm:text-desktop-headings-h4-semi-bold; 
   }
   .headingsh4bold {
    @apply text-mobile-headings-h4-bold font-bold font-ebgaramond sm:text-desktop-headings-h4-bold; 
   }
   .headingsh5regular {
    @apply text-mobile-headings-h5-regular font-normal font-ebgaramond sm:text-desktop-headings-h5-regular; 
   }
   .headingsh5medium {
    @apply text-mobile-headings-h5-medium font-medium font-ebgaramond sm:text-desktop-headings-h5-medium; 
   }
   .headingsh5semibold {
    @apply text-mobile-headings-h5-semi-bold font-semibold font-ebgaramond sm:text-desktop-headings-h5-semi-bold; 
   }
   .headingsh5bold {
    @apply text-mobile-headings-h5-bold font-bold font-ebgaramond sm:text-desktop-headings-h5-bold; 
   }
   .headingsh6regular {
    @apply text-mobile-headings-h6-regular font-normal font-ebgaramond sm:text-desktop-headings-h6-regular; 
   }
   .headingsh6medium {
    @apply text-mobile-headings-h6-medium font-medium font-ebgaramond sm:text-desktop-headings-h6-medium; 
   }
   .headingsh6semibold {
    @apply text-mobile-headings-h6-semi-bold font-semibold font-ebgaramond sm:text-desktop-headings-h6-semi-bold; 
   }
   .headingsh6bold {
    @apply text-mobile-headings-h6-bold font-bold font-ebgaramond sm:text-desktop-headings-h6-bold; 
   }
   .overline {
    @apply text-overline-mobile font-semibold font-inter uppercase; 
   }
   .paragraphlargeregular {
    @apply text-paragraph-large-regular font-normal font-ebgaramond; 
   }
   .paragraphlargemedium {
    @apply text-paragraph-large-medium font-medium font-ebgaramond; 
   }
   .paragraphlargesemibold {
    @apply text-paragraph-large-semi-bold font-semibold font-ebgaramond; 
   }
   .paragraphlargeunderlined {
    @apply text-paragraph-large-underlined font-normal font-ebgaramond; 
   }
   .paragraphlargestrikethrough {
    @apply text-paragraph-large-strikethrough font-normal font-ebgaramond; 
   }
   .paragraphlargeitalic {
    @apply text-paragraph-large-italic font-normal italic font-ebgaramond; 
   }
   .paragraphmediumregular {
    @apply text-paragraph-medium-regular font-normal font-ebgaramond; 
   }
   .paragraphmediummedium {
    @apply text-paragraph-medium-medium font-medium font-ebgaramond; 
   }
   .paragraphmediumsemibold {
    @apply text-paragraph-medium-semi-bold font-semibold font-ebgaramond; 
   }
   .paragraphmediumunderline {
    @apply text-paragraph-medium-underline font-normal font-ebgaramond; 
   }
   .paragraphmediumstrikethrough {
    @apply text-paragraph-medium-strikethrough font-normal font-ebgaramond; 
   }
   .paragraphmediumitalic {
    @apply text-paragraph-medium-italic font-normal italic font-ebgaramond; 
   }
   .paragraphmediummedium {
    @apply text-paragraph-medium-medium font-medium font-ebgaramond; 
   }
   .paragraphsmallregular {
    @apply text-paragraph-small-regular font-normal font-ebgaramond; 
   }
   .paragraphsmallsemibold {
    @apply text-paragraph-small-semi-bold font-semibold font-ebgaramond; 
   }
   .paragraphsmallmedium {
    @apply text-paragraph-small-medium font-medium font-ebgaramond; 
   }
   .paragraphsmallunderline {
    @apply text-paragraph-small-underline font-normal font-ebgaramond; 
   }
   .paragraphsmallstrikethrough {
    @apply text-paragraph-small-strikethrough font-normal font-ebgaramond; 
   }
   .paragraphsmallitalic {
    @apply text-paragraph-small-italic font-normal italic font-ebgaramond; 
   }
   .paragraphxsmallregular {
    @apply text-paragraph-xsmall-regular font-normal font-ebgaramond; 
   }
   .paragraphxsmallmedium {
    @apply text-paragraph-xsmall-medium font-medium font-ebgaramond; 
   }
   .paragraphxsmallsemibold {
    @apply text-paragraph-xsmall-semi-bold font-semibold font-ebgaramond; 
   }
   .paragraphxsmallunderline {
    @apply text-paragraph-xsmall-underline font-normal font-ebgaramond; 
   }
   .paragraphxsmallstrikethrough {
    @apply text-paragraph-xsmall-strikethrough font-normal font-ebgaramond; 
   }
   .paragraphxsmallitalic {
    @apply text-paragraph-xsmall-italic font-normal italic font-ebgaramond; 
   }
   .overlineweb {
    @apply text-overline-web font-semibold font-inter uppercase; 
   }